<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DONuTsHOP</title>
  </head>
  <link rel="stylesheet" href="/style.css">
  <body>
    <div class="container">
      <header>

      </header>
      <div class="info">
        DONUTS
      </div>
      <div class="locations">
        <a href="/shops">Shops</a>/<a href="/donuts">Donuts</a>/<a href="/employees">Employees</a>
      </div>
      <div class="donutpic">
        <img src="https://eatdrinksavorlife.files.wordpress.com/2015/06/assorted-donuts.jpg" alt="yumm">
      </div>
<footer></footer>
</div>
  </body>
</html>
