<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DONuTsHOP</title>
  </head>
  <link rel="stylesheet" href="/style.css">
  <body>
    <div class="container">
      <header>

      </header>
      <div class="info">
        DONUTS
      </div>
      <div class="locations">
        <a href="/shops">Shops</a>/<a href="/donuts">Donuts</a>/<a href="/employees">Employees</a>
      </div>
      <div class="top">
        <img src="http://www.qygjxz.com/data/out/69/5977134-donut-wallpaper.jpg" alt="yumm">
<footer></footer>
  </body>
</html>
