<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DONuTsHOP</title>
  </head>
  <link rel="stylesheet" href="/style.css">
  <body>
    <div class="container">
      <header>

      </header>
      <div class="info">
        DONUTS
      </div>
      <div class="locations">
        Locations:
      </div>
      <div class="top">
        <div class="shop_list">
          <ul>
          <% for(var i = 0; i < shops.length; i++) { %>
        <li class="shop_name"><a href="/shops/<%=shops[i].id%>"><%= shops[i].name %></a>
          <ul><li class="city"><%= shops[i].city %>
              <form action="/shops/remove/<%= shops[i].id %>" method="post">
              <button>Remove</button>
              </form>
              </li>
          </ul>
          <% } %>
        </ul>
        </div>
      </div>
      <div class="bottom">
        <h3>ADD NEW STORE</h3>
    <form action="/shops/add" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>City: <input type="text" name="city"></p>
      <button type="submit">Add it</button>
    </form>
      </div>
    </div>
<footer></footer>
  </body>
</html>
